<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WatchMePizza WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WatchMePizza.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CECC74601A9D1D49003D89BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CECC74751A9D1D4A003D89BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CECC74891A9D1D70003D89BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CECC74931A9D1D70003D89BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
